.scale-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
}

.scale-slider input[type="range"] {
  width: 100%;
  max-width: 33vw;
  margin: 10px 0;
}
